<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
</head>
<body>
    <h1>Ласкаво просимо до вебзастосунку!</h1>
    <p>Це демонстрація роботи фільтрів у ASP.NET Core.</p>
    <a href="/Home/About">Перейти на сторінку "Про нас"</a>
</body>
</html>
